*~
*#
regmacs/session.*
*.png
!background.png
*.deb
octave-workspace
/school/
/.emacs_saves/
/.cabal/
/.emacs.d/auto-save-list/
/dmenu/
auto-save-list
recentf
org-roam.db
elpa/
/regmacs/.org-id-locations
/regmacs/transient
/regmacs/bookmarks
/regmacs/network-security.data
regmacs/.emacs-custom.el
.mc-lists.el
history
savehist
/eprofiles/doom/.local
/eprofiles/space/.cache
transient
/eprofiles/evil/tramp
/eprofiles/ido/tramp
*.eln
/.emacs.d/eln-cache/
*.log
.emacs-custom.el
