*~
*#
*.eln
*.log
*.png
*.deb
*.eld
regmacs/session.*
!background.png
octave-workspace
/school/
/.emacs_saves/
/.cabal/
/.emacs.d/auto-save-list/
/dmenu/
auto-save-list
recentf
org-roam.db
elpa/
.org-id-locations
transient
network-security.data
.emacs-custom.el
.mc-lists.el
history
savehist
/eprofiles/doom/.local
/eprofiles/space/.cache
transient
tramp
/.emacs.d/eln-cache/
.emacs-custom.el
games
eprofiles/space/layers/+fun/
request
.emacsenv/cache
.org-id-locations
org-roam.db
network-security.data
ido.last
smex-items
.zcompdump*
*.errors
*.o
*.hi