*~
*.png
*.deb
octave-workspace
/school/
/.emacs_saves/
/.cabal/
/.config/spotify/
/.config/BetterDiscord/
/.config/QtProject.conf
/.config/Wolfram/
/.config/baloofilerc
/.config/bashtop/
/.config/caja/
/.config/calibre/
/.config/chromium/
/.config/dconf/
/.config/deluge/
/.config/discord/
/.config/dolphinrc
/.config/enchant/
/.config/evolution/
/.config/google-chrome/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/gtk-4.0/
/.config/hexchat/
/.config/kdeglobals
/.config/kiorc
/.config/kservicemenurc
/.config/libfm/
/.config/libreoffice/
/.config/menus/
/.config/mimeapps.list
/.config/monitors.xml
/.config/nemo/
/.config/neofetch/
/.config/nitrogen/
/.config/octave/
/.config/pcmanfm/
/.config/pix/
/.config/powerline-shell/
/.config/pulse/
/.config/qalculate/
/.config/qt5ct/
/.config/reddio/
/.config/rofi/
/.config/skypeforlinux/
/.config/transmission/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/xed/
/.config/xm1/
/.config/xviewer/
/.emacs.d/auto-save-list/
/dmenu/
auto-save-list
